


$map_gray: #a5a5a5;
$gangwan-do: #f1c27a;
$gyeonggi-do: #9ad240;
$seoul : #ebdd18;
$incheon: #2fd3b8;
$jeollabuk-do: #8076b3;
$jeollanam-do: #f57284;
$chungcheongnamdo:#7cc3ab;
$chongcheongbukdo:#f2ea89;
$busan: #eca100;
$daegu:#1a4c82;
$gwangju: #f2ea89;
$gyeongsangbukdo: #66b4df;
$gyeongsangnamdo:#df455e;
$jeju: #9fa2ce;
$sejong:#c868ab;
$dokdo:#a6b7d0;
$ulsan: #5bc065;
$ulleungdo:#dab1ab;
$daejun: #a6e89c;