@import "../../MapArea.module";
@import "../../../../common/styles/variables";
@import "Modal";

#color_daegu {
  fill: $daegu;
  transform: translate(167px, 236px);
  d: path("M204.571 135.048 C 194.108 136.703,192.614 138.049,192.257 146.143 C 192.046 150.924,191.762 152.956,191.101 154.407 C 190.717 155.250,190.876 155.201,187.929 155.381 C 185.203 155.547,185.421 158.186,188.521 162.560 C 190.663 165.583,190.220 167.085,186.662 168.857 C 182.631 170.865,182.728 171.959,187.063 173.338 L 188.554 173.813 186.546 174.784 C 180.271 177.820,180.334 181.737,186.708 184.875 C 191.447 187.208,193.809 186.537,196.325 182.140 C 200.257 175.272,200.357 174.791,199.298 167.911 C 198.451 162.414,199.347 162.934,202.158 169.571 C 203.938 173.774,206.261 175.714,209.513 175.714 C 212.628 175.714,213.260 173.812,212.977 165.288 C 212.765 158.915,212.996 156.916,213.902 157.263 C 216.953 158.434,219.753 150.833,217.261 148.143 C 216.064 146.851,215.428 145.235,215.002 142.395 C 214.111 136.457,210.728 134.074,204.571 135.048 ");
}