@import "../../MapArea.module";
@import "../../../../common/styles/variables";
@import "Modal";


#color_dokdo {
  fill: $dokdo;
  transform: translate(407px, 84px);
  d: path("M198.494 158.059 C 196.549 158.575,196.485 159.973,198.327 161.714 C 200.744 164.001,203.143 163.150,203.143 160.006 C 203.143 157.817,201.693 157.210,198.494 158.059 ");
}