@import "../../MapArea.module";
@import "../../../../common/styles/variables";


.halla_mountain {
  position: absolute;
  margin-top: 400px;
  margin-left: 280px;
  width: 130px;
  height: 130px;
  & > label {
    height: 20px;
    & > img {
      width: 130px;
      margin-top: 20px;
    }
  }
}

.olleh_avenue{
  position: absolute;
  margin-top: 480px;
  margin-left: 220px;
}
.sungsan {
  position: absolute;
  margin-top: 450px;
  margin-left: 530px;
  width: 130px;
  height: 130px;
  & > label {
    height: 20px;
  }
}
.modal_container {
  width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1500;
  position: absolute;
}

.todo_modal {
  width: 800px;
  height: 800px;
  border-radius: 15px;
  //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  z-index: 1100;
  background-color: (0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 5%;
  margin-right: 37%;
}


#color_jeju {
  fill: $jeju;
  transform: translate(-750px, -300px) scale(5, 5);
  d: path("M214.000 137.985 C 212.821 138.107,211.407 138.313,210.857 138.441 C 210.307 138.570,209.729 138.702,209.571 138.734 C 208.284 138.999,205.919 140.381,205.498 141.114 C 205.228 141.584,204.813 142.032,204.575 142.108 C 204.337 142.185,203.585 142.452,202.904 142.702 C 201.573 143.191,199.207 143.393,198.674 143.063 C 198.494 142.952,197.890 142.803,197.331 142.731 C 196.772 142.660,195.910 142.392,195.414 142.135 C 194.462 141.643,193.109 141.920,192.636 142.705 C 192.425 143.054,188.952 145.168,188.429 145.265 C 187.622 145.415,186.000 146.146,186.000 146.360 C 186.000 146.495,185.894 146.540,185.765 146.460 C 185.636 146.380,185.154 146.513,184.694 146.756 C 184.234 146.998,183.540 147.256,183.152 147.329 C 182.764 147.402,182.282 147.599,182.080 147.766 C 181.879 147.933,181.714 147.983,181.714 147.876 C 181.714 147.769,181.429 147.882,181.079 148.127 C 180.730 148.371,180.030 148.571,179.525 148.571 C 179.019 148.571,178.536 148.684,178.451 148.821 C 178.366 148.959,177.974 149.071,177.581 149.071 C 175.679 149.071,172.657 151.363,173.062 152.498 C 173.551 153.867,172.001 155.434,170.536 155.051 C 169.189 154.698,166.831 156.711,164.345 160.337 C 163.841 161.073,163.429 161.812,163.429 161.980 C 163.429 162.148,163.309 162.286,163.162 162.286 C 163.016 162.286,162.821 162.511,162.730 162.786 C 162.639 163.061,161.794 164.098,160.851 165.091 C 159.386 166.634,158.280 168.186,158.272 168.708 C 158.271 168.787,158.193 169.051,158.100 169.295 C 157.837 169.980,158.173 172.677,158.537 172.798 C 158.715 172.857,158.794 173.014,158.712 173.146 C 158.631 173.278,159.531 174.408,160.712 175.657 C 163.506 178.610,163.806 179.006,164.555 180.752 C 165.286 182.455,166.769 183.374,168.197 183.008 C 168.638 182.894,169.321 182.742,169.714 182.670 C 170.107 182.597,170.802 182.353,171.258 182.126 C 171.714 181.900,172.244 181.714,172.434 181.714 C 172.624 181.714,173.115 181.451,173.524 181.129 C 174.003 180.752,174.856 180.494,175.920 180.404 C 176.828 180.327,177.830 180.210,178.145 180.144 C 180.239 179.705,187.199 180.026,187.381 180.570 C 187.434 180.730,187.601 180.785,187.751 180.691 C 187.902 180.598,188.232 180.694,188.485 180.904 C 189.401 181.664,204.775 181.380,206.279 180.575 C 207.038 180.169,210.102 179.143,210.562 179.141 C 210.803 179.140,211.386 178.936,211.857 178.687 C 212.329 178.438,212.971 178.184,213.286 178.123 C 213.600 178.062,214.114 177.892,214.429 177.746 C 215.387 177.300,216.132 177.050,216.357 177.097 C 216.475 177.122,216.571 177.042,216.571 176.918 C 216.571 176.794,216.849 176.672,217.189 176.647 C 217.528 176.621,217.912 176.433,218.041 176.229 C 218.171 176.024,218.279 175.945,218.281 176.052 C 218.285 176.217,224.123 174.385,225.429 173.810 C 225.664 173.706,225.954 173.594,226.071 173.560 C 226.189 173.527,226.382 173.469,226.500 173.430 C 226.618 173.392,226.811 173.376,226.929 173.395 C 227.046 173.413,227.143 173.316,227.143 173.179 C 227.143 173.042,227.657 172.848,228.286 172.747 C 228.914 172.647,229.429 172.465,229.429 172.343 C 229.429 172.221,229.716 172.100,230.067 172.073 C 230.418 172.047,230.751 171.890,230.806 171.725 C 230.861 171.560,231.024 171.498,231.167 171.587 C 231.311 171.675,231.429 171.604,231.429 171.429 C 231.429 171.253,231.540 171.178,231.677 171.262 C 231.931 171.420,233.096 170.082,233.148 169.571 C 233.164 169.414,233.449 168.996,233.781 168.643 C 234.114 168.289,234.294 168.000,234.182 168.000 C 234.069 168.000,234.235 167.723,234.550 167.385 C 234.865 167.047,235.056 166.662,234.973 166.528 C 234.891 166.395,234.960 166.286,235.126 166.286 C 235.292 166.286,235.429 166.109,235.429 165.892 C 235.429 165.676,235.620 165.340,235.854 165.145 C 236.088 164.951,236.209 164.678,236.123 164.539 C 236.037 164.400,236.094 164.286,236.250 164.286 C 236.405 164.286,236.623 164.002,236.733 163.656 C 236.843 163.310,237.110 162.850,237.326 162.633 C 237.542 162.417,237.646 162.121,237.557 161.977 C 237.468 161.832,237.522 161.714,237.678 161.714 C 237.834 161.714,238.051 161.431,238.161 161.085 C 238.271 160.739,238.538 160.278,238.755 160.062 C 238.971 159.845,239.075 159.550,238.986 159.406 C 238.896 159.261,238.951 159.143,239.107 159.143 C 239.263 159.143,239.478 158.854,239.586 158.500 C 239.694 158.146,239.969 157.643,240.198 157.382 C 240.427 157.121,240.646 156.693,240.685 156.431 C 240.723 156.169,240.874 155.868,241.020 155.763 C 242.001 155.056,242.236 150.712,241.342 149.818 C 241.232 149.708,241.143 149.383,241.143 149.095 C 241.143 148.807,241.007 148.571,240.840 148.571 C 240.674 148.571,240.617 148.443,240.714 148.286 C 240.811 148.129,240.747 148.000,240.571 148.000 C 240.396 148.000,240.331 147.871,240.429 147.714 C 240.526 147.557,240.461 147.429,240.286 147.429 C 240.110 147.429,240.046 147.300,240.143 147.143 C 240.240 146.986,240.176 146.857,240.000 146.857 C 239.824 146.857,239.760 146.729,239.857 146.571 C 239.954 146.414,239.890 146.286,239.714 146.286 C 239.539 146.286,239.468 146.168,239.557 146.023 C 239.646 145.879,239.558 145.586,239.360 145.373 C 239.162 145.161,238.959 144.797,238.908 144.565 C 238.784 143.994,238.394 143.626,237.789 143.507 C 237.141 143.381,235.205 143.104,234.286 143.007 C 233.893 142.965,233.507 142.899,233.429 142.860 C 233.350 142.821,233.189 142.805,233.071 142.823 C 232.954 142.842,232.857 142.737,232.857 142.591 C 232.857 142.444,232.602 142.243,232.290 142.144 C 231.978 142.045,231.237 141.468,230.642 140.861 C 230.047 140.255,229.210 139.670,228.780 139.563 C 228.351 139.455,228.000 139.256,228.000 139.121 C 228.000 138.986,227.820 138.944,227.600 139.028 C 227.381 139.113,227.114 139.042,227.009 138.872 C 226.904 138.702,226.692 138.640,226.539 138.734 C 226.386 138.829,226.106 138.784,225.916 138.635 C 225.727 138.486,225.379 138.345,225.143 138.322 C 222.363 138.051,221.174 137.966,218.857 137.872 C 217.364 137.812,215.179 137.863,214.000 137.985 ");
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: (0, 0, 0, 0.5);
  //background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}
